
  .card:not(:first-child) {
    margin-left: -50px;
}
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

.card:hover {
  transform: translateX(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}
.imageCard:hover {
  transform: translatex(-10px);
  transition: 0.4s ease-out;
}

.imageCard:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card {
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  min-width: 30px;
  max-width: 900px;
}


.mat-paginator.paginator--centered {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
  } 

.button-toggle-label {
  display: inline-block;
  margin: 16px;
}