.yalla-form {
  width: 50%;

}

.yalla-full-width {
  width: 100%;
}

.yalla-search-input {
  border: none; 
  border-radius: 10px;  
  height:35px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px;
  color: black;
}

.mat-input-element {
  background: white;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

