<mat-toolbar  color = "primary">
  <mat-toolbar-row> 
    <span >{{pageTitle}}</span> 
    <div class="toolbar-buttons">
      <button mat-icon-button (click)="homeClicked()" title="Home Page">
        <mat-icon>home</mat-icon>
      </button> 
      <button mat-icon-button (click)="showSearchBar()" title="Search Bar">
        <mat-icon>list</mat-icon>
      </button>       
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="searching">
    <form class="yalla-form">
      <mat-form-field class="yalla-full-width">
        <input  type="text"
                (keydown.enter)="submit()"
                (input)="searchSuggestions()"
                matInput
                class="yalla-search-input"
                [formControl]="myControl"
                [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>    
    <button mat-button matSuffix mat-icon-button aria-label="Clear"
    (click)="hideSearchBar()" title="Close Search Bar">
      <mat-icon>close</mat-icon>
    </button>

    <button mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="recordClicked()" title="Voice Search">
      <mat-icon color="{{recordColor}}">keyboard_voice</mat-icon>
    </button>

    <button mat-button *ngIf="myControl.value" matSuffix mat-icon-button aria-label="search"
    (click)="submit()"  title="Normal Search">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-button *ngIf="myControl.value" matSuffix mat-icon-button aria-label="search"
    (click)="phraseSubmit()"  title="Phrase Search">
      <mat-icon>youtube_searched_for</mat-icon>
    </button>
    
  </mat-toolbar-row>
</mat-toolbar>