<body>
    <mat-grid-list cols="3" rowHeight="600px">
        <mat-grid-tile >
        <mat-card class="card">
            <mat-card-header>
            <div mat-card-avatar class="websites"></div>
            <mat-card-title>Yalla Fast Access</mat-card-title>
            <mat-card-subtitle>Some popular websites to use</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content >
                
                <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
                    <div *cdkVirtualFor="let website of websites; templateCacheSize: 0" class="item" >
                        <a mat-button href="{{website.url}}" title="{{website.name}}">
                            <div mat-card-avatar style="background-image: url({{website.imageUrl}});  background-size: cover; display:inline-block;"></div>
                            {{website.name}}
                            <mat-icon mat-list-icon>link</mat-icon>
                        </a>
                        
                        <mat-divider></mat-divider>
                    
                    </div>
                </cdk-virtual-scroll-viewport>
                    
            </mat-card-content>
        </mat-card>
        </mat-grid-tile>
        <mat-grid-tile >
        <mat-card class="card">
            <mat-card-header>
            <div mat-card-avatar class="history"></div>
            <mat-card-title>Yalla History</mat-card-title>
            <mat-card-subtitle>Here you can find your Yalla history</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
                    <div *cdkVirtualFor="let hist of history; templateCacheSize: 0" class="item" >
                        <button mat-button>
                            {{hist}}
                            <mat-icon mat-list-icon>history</mat-icon>
                        </button>
                        <mat-divider></mat-divider>
                    
                    </div>
                </cdk-virtual-scroll-viewport>
            </mat-card-content>
        </mat-card>  
        </mat-grid-tile>
        <mat-grid-tile >
            <mat-card class="card">
                <mat-card-header>
                <div mat-card-avatar class="trends"></div>
                <mat-card-title>Yalla Trends</mat-card-title>
                <mat-card-subtitle>Some search trends you may want to check</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content >
                    
                    <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
                        <div *cdkVirtualFor="let trend of trends; templateCacheSize: 0" class="item" >
                            <button mat-button>
                                {{trend}}
                                <mat-icon mat-list-icon>arrow_right_alt</mat-icon>
                            </button>
                            <mat-divider></mat-divider>
                        
                        </div>
                    </cdk-virtual-scroll-viewport>
                        
                </mat-card-content>
            </mat-card>
            </mat-grid-tile>
    </mat-grid-list>



</body>